.content-container{
    height: 100vh;
    overflow-x: hidden;
}
.content{
    height:calc(100% - 56px);
}
.scroll{
    overflow: auto;
}
.gallery gallery{
	display: flex;
    flex-wrap: wrap;
}
.time-display{
    position: absolute;
    right: 10px;
    color: cadetblue;
    display:none;
}
@media(min-width:768px) and (orientation:landscape){
    .time-display{
        display:block;
    }  
}